<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Seussology</title>
  <link rel="stylesheet" href="../assets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <script src="../assets/books.js"></script>
</head>

<body>
  <main>
    <header class="header">
      <img class="header-image" src="../assets/images/seussology-logo.svg" alt="Seussology">
      <h1 class="header-title">Books</h1>
    </header>
    <section id="app">
      <form class="form" @submit.prevent="">
        <div class="form-group flex-grow">
          <input type="search" class="form-input" placeholder="Search books titles..." v-model="query">
          <button type="submit" class="form-submit"><i class="fas fa-search fa-2x"></i></button>
        </div>
        <div class="form-group d-grid justify-content-center">
          <label>Sort</label>
          <select v-model="sortBy">
            <option value="title">By Title</option>
            <option value="year">By Year</option>
          </select>
        </div>

      </form>
      <div class="filters">
        <button class="button" @click="category=''">All</button>
        <button class="button" @click="category='Favorites'">Favorites</button>
        <button class="button" @click="category='Beginner Books'">Beginner Books</button>
        <button class="button" @click="category='Big Books'">Big Books</button>
      </div>
      <div class="books">
        <div v-for="(book, index) in books" v-if="category ? book.category === category : true" :key="index"
          class="book">
          <img class="book-image" :src="'../assets/images/covers/'+ book.image" :title="book.title">
        </div>
      </div>
    </section>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</body>

</html>